<mat-card id="cardContainer">
    <mat-card-header>
        <mat-card-title>
            <span id="editSpan">Edit Applicant</span>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <form id="editContainer" [formGroup]="editForm" *ngIf="applicantObjectUnderEdit | async as applicantEdit">
        <div class="form-group">
            <mat-form-field appearance="standard">
            <mat-label>{{applicantEdit.name}}</mat-label>
            <input class="formInput" matInput placeholder="{{applicantEdit.name}}" formControlName="name" required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="standard">
                <mat-label>{{applicantEdit.email}}</mat-label>
                <input class="formInput" resizeToFitContent="true" matInput placeholder="{{applicantEdit.email}}" formControlName="email" required>
              </mat-form-field>
        </div>
        <div class ="form-group">
            <mat-form-field appearance="standard">
            <mat-label>{{applicantEdit.phoneNumber}}</mat-label>
            <input class="formInput" matInput placeholder="{{applicantEdit.phoneNumber}}" formControlName="phoneNumber" required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="standard">
            <mat-label>{{applicantEdit.loanAmount}}</mat-label>
            <input class="formInput" matInput placeholder="{{applicantEdit.loanAmount}}" formControlName="loanAmount" required>
            </mat-form-field>
        </div>
    <button mat-stroked-button [disabled]="!editForm.valid" [routerLink]="['']" (click)="editApplicant()">Edit</button>
    <button mat-stroked-button [routerLink]="['']">Back</button>
    </form>
    </mat-card-content>
</mat-card>
