<div id= "editForm" *ngIf="applicantObjectUnderEdit | async as applicantEdit">
    <h2>Edit Applicant</h2>
    <form [formGroup]="applicantEditGroup">
        Name: {{applicantEdit.name}}
        <div class = "form-group">
            <input type="text" id="applicantName" name="applicantName"  formControlName="name" class="form-control">
        </div>
        <br>
        Email: {{applicantEdit.email}}
        <div class = "form-group">
            <input type="text" id="applicantEmail" name="applicantEmail"  formControlName="email" class="form-control">
        </div>
        <br>
        Phone Number: {{applicantEdit.phoneNumber}}
        <div class = "form-group">
            <input type="text" id="applicantPhoneNumber" name="applicantPhoneNumber"  formControlName="phoneNumber" class="form-control">
        </div>
        <br>
        Loan Amount:{{applicantEdit.loanAmount}}
        <div class = "form-group">
            <input type="text" id="applicantLoanAmount" name="applicantLoanAmount"  formControlName="loanAmount" class="form-control">
        </div>
        <br>
    </form>
    <button type="submit" class="btn btn-primary" (click)="editApplicant()">Save</button>
</div>

<div id= "addForm">
    <h2>Add New Applicant</h2>
    <form [formGroup]="applicantAddGroup" (ngSubmit)="addApplicant()">
        <div class = "form-group">
            <label for="applicantName">Applicant Name</label>
            <input type="text" id="applicantName" name="applicantName" formControlName="name" class="form-control">
        </div>
        <div class = "form-group">
            <label for="applicantEmail">Applicant Email</label>
            <input type="text" id="applicantEmail" name="applicantEmail" formControlName="email" class="form-control">
        </div>
        <div class = "form-group">
            <label for="applicantPhoneNumber">Applicant Phone Number</label>
            <input type="text" id="applicantPhoneNumber" name="applicantPhoneNumber" formControlName="phoneNumber" class="form-control">
        </div>
        <div class = "form-group">
            <label for="applicantLoanAmount">Applicant Loan Amount</label>
            <input type="text" id="applicantLoanAmount" name="applicantLoanAmount" formControlName="loanAmount" class="form-control">
        </div>
        <br>
    </form>
    <button type="submit" class="btn btn-primary" (click)="addApplicant()">Save</button>
</div>
