<mat-card id="cardContainer">
    <mat-card-header>
        <mat-card-title>Add Applicant</mat-card-title>
    </mat-card-header>
    <form id="addContainer" [formGroup]="addForm">
        <div class="form-group">
            <mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input class="formInput" matInput placeholder="Name" formControlName="name" required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="standard">
                <mat-label>Email</mat-label>
                <input class="formInput" matInput placeholder="pat@example.com" formControlName="email" required>
              </mat-form-field>
        </div>
        <div class ="form-group">
            <mat-form-field appearance="standard">
            <mat-label>Phone number</mat-label>
            <input class="formInput" matInput placeholder="xxx-xxx-xxxx" formControlName="phoneNumber" required>
            <mat-hint>xxx-xxx-xxxx</mat-hint>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="standard">
            <mat-label>Loan Amount</mat-label>
            <input class="formInput" matInput placeholder="Loan Amount" formControlName="loanAmount" required>
            </mat-form-field>
        </div>
    <a mat-stroked-button type="submit" [disabled]="!addForm.valid" [routerLink]="['']" (click)="addApplicant()">Add</a>
    <a mat-stroked-button [routerLink]="['']">Back</a>
    </form>
</mat-card>