#mainContainer
    height: 100vh
    width: 100vw
    overflow: hidden
    background-color:#0F1112

.outerTile
    background-color:#0F1112
    
.topTile 
    background: #0F1112

#titleContainer
    font-size: 4em
    font-weight: 550
    color: #E3E9E9

#mainTile
    background: #4A6B8B

.mat-figure
    align-items: top !important

#bottomTile
    background: #4A6B8B

    
